<div class="box">
  <h2 class="title">Calculadora Gematria</h2>
  <div class="box-row">
    <input class="input question"
           type="text"
           #palavra
           [(ngModel)]="gematria"
           [value]="gematria"
           placeholder="Digite ou cole a palavra aqui.">
    <button (click)="calcularGematria(palavra.value)">Calcular</button>
  </div>
  <div class="simple-keyboard"></div>
  <div class="box-resultado">
    <div class="box-row box-row-reverse">
      <div class="hebraico" *ngFor="let letra of letrasHebraico">{{ letra }}</div>
    </div>
    <div class="box-row box-row-reverse">
      <div class="valorNumerico" *ngFor="let valor of letrasValor">{{ valor }}</div>
    </div>
    <div class="resultado" *ngIf="valorNumerico">Valor Numérico: {{ valorNumerico }}</div>
    <div class="resultado" *ngIf="raiz">Raiz: {{ raiz }}</div>
  </div>
</div>
